<app-header headerText="home.topText"></app-header>

<ion-content>
  <ion-card class="welcome-card" *ngFor="let p of products">
    <img src="/assets/images/bottle.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>{{p.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><span class="strike-text">Rs. {{p.mrp}}</span> Rs. {{p.discountedPrice}}</p>
      <div class="text-right">
        <ion-button (click)="buy(p)" color="tertiary">{{'home.product.buyBtnText' | translate}}</ion-button>
        <ion-button (click)="addToCart(p)" color="tertiary">{{'home.product.cartBtnText' | translate}}</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
